<%=form_for @question do |f| %>

  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@questions.errors.count, 'error') %>prohibited this question from being saved:</h2>
      <ul>
        <% @question.errors.each do |msg| %>
        <li>
          <%= msg %>
        </li>
        <% end %>
      </ul>
    </div>
    <% end %>

  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :content %>
    <%= f.text_field :content %>
  </p>
  <p>
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.submit %>
  </p>

<% end %>
