<h1>Questions Index</h1>

<%= link_to 'New Question', new_question_path %>

<table>

  <tr>
    <th>Title</th>
    <th>Content</th>
  </tr>

  <% @questions.each do |question| %>
    <tr>
      <td>Title: <%= question.title %> </td>
      <td>Question: <%= question.title %> </td>
      <td>Author ID: <%= question.title %> </td>
      <td> <%= link_to 'Show', question_path(question) %> </td>
      <td> <%= link_to 'Edit', edit_question_path(question) %> </td>
      <td> <%= link_to 'Destroy', question_path(question), method: :delete, data: { confirm: "Are you sure you want to destroy #{question.title}" } %> </td>
    </tr>
  <% end %>

</table>
